/* Custom CSS styling */

h1 { /*for the top-left heading*/
	font-size: 1.6em;
	line-height: 1.2em;
}

h2 { /*for page subheading*/
	font-size: 1.5em;
}

h3 { /*for photo headings*/
	font-size: 1.3em;
}

.infoMsg span {
	color: red;
}

.infoMsg i {
	position: relative;
	top: 0px;
}

.infoMsg:after {
	position: relative;
	content: '';
	display: block;
	height: 50px;
	width: 50px;
	padding: 10px;
	top: 10px;
	background: url(../img/ajax_loader.gif) no-repeat;
	background-size: 50px 50px;

}

.loadImg {


}

.nav-list li a {
	padding-right: 0px;
}

#map-canvas {
	width: 100%;
	height: 400px;
}

#photo-canvas img {
	margin-bottom: 20px;
}

/* bootstrap: fix google map images */
.gm-style img {
  max-width: none;
}
.gm-style label { 
  width: auto;
  display:inline; 
} 
/* end google map fix */

#target {
	width: 98%; /* it's a hack */
	margin-top: 10px;
	height: 25px;
	font-size: 1.1em;
}